body{
    background-color: #f0f4c3;
    font-family: 'Raleway', sans-serif !important;
}

#imagePreview {
    width: 180px;
    height: 180px;
    background-image: url('../images/nopicture.jpg');
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
    float: left;
    margin: 20px;
}

.imageform, .submit{
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.submit{
    margin-bottom: 30px;
    margin-top: 30px;
}

.file-field{
    margin-top: 60px;
}

.halfhr{
    max-width: 60%;
}

.padding-top, .input-field{
    padding-top: 30px;
}

.input-field{
    margin-bottom: 30px !important;
}

.btn{
    background-color: #f44336 !important;
}

.reqstar {
    margin-left: 10px !important;
    color: orangered !important;
}

#ttcalogo{
    float: left;
    height: 180px;
    margin: 20px;
}

#nitclogo{
    float: right;
    height: 180px;
    margin: 20px;
}

.question{
    margin-bottom: 20px !important;
}

hr{
    border: 1px solid black;
}

 /* label focus color */
.input-field input:focus + label, label {
    color: red !important;
}

 /* label focus color */
.input-field input + label {
    color: purple !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}

/* Placeholder Color */

input::-webkit-input-placeholder {
    color: green !important;
}

input:-moz-placeholder {
    color: green !important;  
}

input::-moz-placeholder { 
    color: green !important;  
}

input:-ms-input-placeholder {  
    color: green !important;  
}

textarea::-webkit-input-placeholder {
    color: green !important;
}

textarea:-moz-placeholder {
    color: green !important;  
}

textarea::-moz-placeholder { 
    color: green !important;  
}

textarea:-ms-input-placeholder {  
    color: green !important;  
}

footer{
    background-color: #ff9800 !important;
}

#social_links li{
    margin-top: 20px !important;
}

.fb-like{
    margin-left: 100px;
}